.subtitle {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr .5fr;
  gap: 1rem;
  margin: 1rem auto;

  &__text, &__start, &__end {
    width: 100%;
  }
}

.subtitles {
  width: 100%;
  border-spacing: 0;
  margin-top: 3rem;
  background: lightgray;
  padding: 1rem;

  th:first-of-type {
    text-align: left;
  }

  td, th {
    border-bottom: 2px solid gray;
    padding: 1rem .5rem;
  }
}