.video {
  position: relative;

  &__nav {
    position: relative;
    width:97%; 
    height: 4rem; 
    background: lightgrey;
    margin: 1.5rem auto;
  }

  &__marker {
    position: absolute;
    width: 1rem;
    height: 6rem;
    top: -1rem;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }

  &__marker-start {
    left: 0%;
    background: $start-colour;
    transform: translateX(-100%);
  }

  &__marker-end {
    left: 0%;
    background: $stop-colour;
  }

  &__url {
    width: 100%;
    margin: 0 0 1rem;
    font-size: 1.5rem;
  }

  &-nav-container {
    padding: .1rem 0;
    margin: 1rem 0;
  }

  &-controls {
    text-align: center;
    margin-top: 1rem;
  
    i {
      font-size: 2rem;
      margin: 0 1rem;
    }
  }

  &__volume {
    display: inline-block;
  }

  &__volume-container {
    width: 100%;
    height: 1rem;
    background: lightgray;
    cursor: pointer;
  }

  &__volume-level {
    width: 0%;
    height: 1rem;
    background: black;
  }

  .subtitle-overlay {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(black, .8);
    color: white;
    display: none;

    &__text {
      padding: .5rem 1rem;
      margin: 0;
    }

    &.show {
      display: block;
    }
  }
}